<center>
	<img src="/author.jpg" class="avatar" size="100x100">
	<header class="site-header"><b><a class="logo" href="/">
      {{ .Site.Title }}
      </a></b>
      <nav class="site-nav"> 
      <ul class="main-menu">
      {{ range.Site.Menus.main }}
      <li> 
	      <a rel="nofollow" href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
    </ul>
    <div style="clear:both;"></div>
</header>
</center>
<hr>
