{{ partial "header.html" . }}

{{ .Content }}

<h2>Blog</h2>
<p>I blog mostly about technology and computing. </p>
{{ $counter := 0 }}
{{ range where .Paginator.Pages "Section" "post" }}
  {{ if lt $counter 10 }}
    <article class="post-snippet">
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      <time style="float:right" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
        {{ .Date.Format "1-2-2006" }}
      </time>
    </article>
    {{ $counter = add $counter 1 }}
  {{ end }}
{{ end }}

<h2>Contact</h2>
<p>send me a message to my email: alif[at]radhitya[dot]id. (<a href="https://radhitya.id/radhitya-pubkey.txt">gpg public key</a>)</p>
<p>I can also be found in these other places online:</p>
<ul>
	<li><a rel="nofollow" rel="_blank" href="https://pegelinux.top/@al1r4d">@al1r4d@pegelinux.top</a> on the Fediverse</li>
	<li>al1r4d on the Libera Chat IRC Network</li>
</ul>
	{{ partial "footer.html" . }}
